<div class="form-container" id="form-container">
  
    <!-- Explicação do Portal -->
    <div class="form-info" id="form-info">
      <img src="mottu.png" alt="Logo Mottu" id="logo-mottu" />
  
      <h2 id="portal-title">Portal de Requisições de Autoridades Públicas</h2>  
      <p id="welcome-message">
        Bem-vindo ao nosso portal de requisições. Este espaço é destinado exclusivamente a autoridades públicas, permitindo solicitar informações sobre veículos, dados cadastrais, documentações e telemetria de forma segura e rápida.
      </p>
      <p id="instructions">
        Para prosseguir, preencha o formulário abaixo com as informações necessárias e anexe um ofício oficial (PDF). <br> <br>
        <strong>Importante:</strong><br> <br>1. O ofício deve ser escaneado ou digitalizado.<br>
        2. <strong>Serão aceitos apenas documentos com:</strong> assinatura digital ou e-mail com domínio <strong>.gov, .jus, .pc ou .pm</strong><br>
        3. Em casos de denuncias anonimas <strong>Use a opção "Outros"</strong> <br> <br>
        
        O prazo médio de resposta é de até <strong>48 horas</strong>.
      </p>
    </div>
  
    <!-- Formulário -->
    <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()" id="solicitacao-form">
      
      <!-- Seção 1: Informações do Solicitante -->
      <div class="form-section" id="section-solicitante">
        <h3 id="solicitante-title">Informações do Solicitante</h3>
        <p id="description">Por meio do e-mail informado, receberá o resultado da requisição.</p>
        
        <label for="email">Email:</label>
        <input type="email" formControlName="email" class="form-control" required id="email" placeholder="Digite seu e-mail" />      
        <div *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched" class="error" id="email-error">
          ❌ Informe um e-mail válido.
        </div>
      </div>
  
      <!-- Seção 2: Informações do Ofício -->
      <div class="form-section" id="section-oficio">
        <h3 id="oficio-title">Dados do Ofício</h3>
        <p id="description">Preencha os campos abaixo com as informações do ofício oficial.</p>
  
        <label for="numero_oficio">Identificador do Ofício:</label>
        <input type="text" formControlName="numero_oficio" class="form-control" required id="numero_oficio" placeholder="Ex: Nº1234/2025"/>
  
        <label for="numero_bo">Nº do BO:</label>
        <input type="text" formControlName="numero_bo" class="form-control" id="numero_bo" placeholder="Ex: Nº1234/2025"/>
  
        <label for="delegacia_empresa">Nome da Delegacia ou Empresa:</label>
        <input type="text" formControlName="delegacia_empresa" class="form-control" required id="delegacia_empresa" placeholder="Ex: Delegacia de Polícia"/>
  
        <label for="nome_solicitante">Nome do Solicitante:</label>
        <input type="text" formControlName="nome_solicitante" class="form-control" required id="nome_solicitante" placeholder="Quem é você?" />
      </div>
  
      <!-- Seção 3: Tipo de Solicitação -->
      <div class="form-section" id="section-tipo-solicitacao">
        <h3 id="tipo-solicitacao-title">Tipo de Solicitação</h3>
        <label for="tipo-solicitacao">Selecione o tipo:</label>
        <select formControlName="tipo_solicitacao" (change)="atualizarCampos()" required id="tipo-solicitacao">
          <option value="" disabled selected>Selecione uma opção</option>
          <option *ngFor="let tipo of tiposSolicitacao" [value]="tipo">{{ tipo }}</option>
        </select>
      </div>
  
      <!-- Seção Dinâmica Baseada no Tipo Selecionado -->
      <div [ngSwitch]="tipoSelecionado" id="section-dinamica">
  
        <!-- Seção Telemetria -->
        <div class="form-section" *ngSwitchCase="'Telemetria'" id="section-telemetria">
          <h3 id="telemetria-title">Informações sobre o Veículo</h3>
          <p id="description">Preencha os campos abaixo com as informações do veículo.</p>
  
          <label for="placa">Placa:</label>
          <input type="text" formControlName="placa" class="form-control" id="placa" placeholder="ABC-1234" />
          <span [innerHTML]="placaStatus" id="placa-status"></span>
  
          <label for="dataIni">Data Inicial:</label>
          <input type="date" formControlName="dataIni" class="form-control" id="data-ini" />
  
          <label for="dataFim">Data Fim:</label>
          <input type="date" formControlName="dataFim" class="form-control" id="data-fim" />
  
          <label for="horaIni">Hora Inicial:</label>
          <input type="time" formControlName="horaIni" class="form-control" id="hora-ini" />
  
          <label for="horaFim">Hora Fim:</label>
          <input type="time" formControlName="horaFim" class="form-control" id="hora-fim" />
  
          <label for="local">Local (LatLong ou Endereço):</label>
          <input type="text" formControlName="local" class="form-control" id="local" placeholder="Ex: -23.5678, -46.6789 ou endereço extenso" />
        </div>
  
        <!-- Seção Dados Cadastrais / Documentações -->
        <div class="form-section" *ngIf="tipoSelecionado === 'Dados Cadastrais' || tipoSelecionado === 'Documentações'" id="section-dados-cadastrais">
          <h3 id="dados-cadastrais-title">Informações do Usuário</h3>
          <p id="description">Preencha os campos abaixo com as informações do usuário.</p>
        
          <label for="nome">Nome:</label>
          <input type="text" formControlName="nome" class="form-control" id="nome" placeholder="Nome do suspeito ou pessoa envolvida (opcional)" />
        
          <label for="cpf">CPF:</label>
          <!-- Aqui o evento 'input' chama o método que formata e valida o CPF -->
          <input type="text" formControlName="cpf" class="form-control" id="cpf" placeholder="CPF do suspeito ou pessoa envolvida (opcional)" (input)="onCpfInputChange($event)" />
          <!-- Exibe a mensagem de erro se o CPF estiver com problemas -->
          <div *ngIf="cpfErrorMessage" class="error" id="cpf-error">
            {{ cpfErrorMessage }}
          </div>
  
          <label for="dataIni">Data Inicial:</label>
          <input type="date" formControlName="dataIni" class="form-control" id="data-ini" />
  
          <label for="dataFim">Data Fim:</label>
          <input type="date" formControlName="dataFim" class="form-control" id="data-fim" />
  
          <label for="placa">Placa:</label>
          <input type="text" formControlName="placa" class="form-control" id="placa" placeholder="ABC-1234" />
          <span [innerHTML]="placaStatus" id="placa-status"></span>
        </div>
        
  
        <!-- Seção Outros -->
        <div class="form-section" *ngSwitchCase="'Outros'" id="section-outros">
          <h3 id="outros-title">Informações</h3>
          <p id="description">Preencha os campos abaixo com as informações relevantes.</p>
          <label for="descricao">Resumo da Solicitação:</label>
          <textarea formControlName="descricao" class="form-control" id="descricao" placeholder="Descreva brevemente o motivo da solicitação caso não se encaixe nas categorias anteriores"></textarea>
        </div>
  
      </div>
  
      <!-- Upload de Ofício (Exigido para Todas as Solicitações) -->
      <div class="form-section" id="section-upload-oficio" (click)="documentoInput.click()" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)" style="cursor: pointer; padding: 20px; text-align: center;">
        <h3 id="upload-oficio-title">Upload do Ofício</h3>
        <p *ngIf="!placaNaoEncontrada && formulario.get('documento_oficio')?.value">
          Documento anexado: {{ formulario.get('documento_oficio')?.value?.name }} ✅
        </p>
        <p *ngIf="!formulario.get('documento_oficio')?.value">
          Clique ou arraste e solte o documento aqui
        </p>
      </div>
      <input type="file" #documentoInput hidden (change)="onFileChange($event)" accept="application/pdf" required id="documento-oficio" style="display: none;" />
      <div *ngIf="formulario.get('documento_oficio')?.invalid && formulario.get('documento_oficio')?.touched" class="error" id="documento-oficio-error">
        ❌ O arquivo deve ser em formato PDF.
      </div>
      <!-- Botões -->
      <div class="form-actions" id="form-actions">
        <button type="submit" [disabled]="formulario.invalid" id="enviar-solicitacao">
          Enviar Solicitação
        </button>
        <button type="button" (click)="resetarFormulario()" class="reset-btn" id="resetar-formulario">
          Resetar Formulário
        </button>
      </div>
  
    </form>
  
  </div>
  
  <div class="footer" id="footer">Powered by Mottu</div>